@import '~@/layout/style/layout';
@import '~@/ui/style/ui';

html {
  font-family: sans-serif;
  color: #333;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
